@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 200vh;
  background-color: #191970;
  font-family: 'Caveat', cursive;
}
section {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #191970;
  mix-blend-mode: color-dodge;
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#moon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cloud1 {
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 600px;
  z-index: 2;
}
#cloud2 {
  position: absolute;
  top: 200px;
  right: 50px;
  max-width: 600px;
  z-index: 2;
}
#santa {
  position: absolute;
  bottom: 50px;
  left: -600px;
  max-width: 600px;
  transform: scale(0.5);
  z-index: 5;
}
#tree{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 266px;
  background: url(../images/tree.png);
  background-position-y: 266px;
  z-index: 10;
}
#text {
  position: absolute;
  bottom: -400px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 6em;
  z-index: 6;
}
#text2 {
  position: absolute;
  bottom: -400px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 6em;
  z-index: 9;
}